.header {
  background-color: transparent;
  padding: 2rem 0;

  @media (max-width: $breakpoint-lg) {
    padding: 0.75rem 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    text-decoration: none;
    display: inline-block;
  }

  &__logo {
    width: 73px;
    @media (max-width: $breakpoint-md) {
      width: 65px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__text {
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;

    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: $black;
    font-size: $font-size-lg;
  }  
}
